---
import '../styles/global.css';
const title = "About";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/about">about</a>
                <a href="/blog">blog</a>
            </nav>
        </header>
		<h1>about</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
            Ab, facere velit quas nulla repellendus culpa itaque voluptatum alias consequatur repellat eligendi ullam, <br>
            praesentium, laudantium nam? Sit obcaecati sapiente recusandae? Reiciendis?
        </p>
	</body>
</html>
