---
import BaseLayout from "../layouts/BaseLayout.astro";
const header = "About";
---

<BaseLayout pageHeading={header}>
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
		Ab, facere velit quas nulla repellendus culpa itaque voluptatum alias consequatur repellat eligendi ullam, <br>
		praesentium, laudantium nam? Sit obcaecati sapiente recusandae? Reiciendis?
	</p>
</BaseLayout>