---
import BaseLayout from '../layouts/BaseLayout.astro';
const header = "Blogger: Where the fun begins ";
---

<BaseLayout pageHeading={header}>
	<div>
		<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eum dolorum expedita nisi autem eaque unde ex nihil laboriosam! Maxime animi et consequatur at, expedita tempora optio facilis temporibus repellendus.</h5>
	</div>
</BaseLayout>