---

---
<style>
    .header-links{
        text-transform: capitalize;
        font-weight: 700;
        text-decoration: none;
        color: #0f172a;
        padding: 0.25rem 1rem;
    }
    .header-links:hover {
        font-style: italic;
        color: #0ea5e9;
    }
</style>

<header>
    <nav>
        <a href="/" class="header-links">Home</a>
        <a href="/about" class="header-links">about</a>
        <a href="/blog" class="header-links">blog</a>
    </nav>
</header>